

.container {
  padding: 5rem;
  min-height: 100vh;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* Four items per line, adjust as needed */
  column-gap: 30px;
}

.item {
  justify-self: center;
  align-self: center;
}
.title {
  /* margin: 0 7.8rem 0 7.8rem; */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;

}

/* 768px */
@media only screen and (max-width: 768px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title > :first-child {
    margin-bottom: 5px;
  }
}

/* SINGLE RESTAURANT */

.landing {
  position: absolute;
  height: 50vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}

.m-container {
  position: absolute;
  height: 200px;
  width: 70%;
  background-color: white;
  margin-top: 37vh;
  padding: 20px 20px 0 20px;
  z-index: 50;
  transition: width 0.4s ease;
  border-radius: 5px;
}

.image {
  width: calc(100% - 50px);
  padding: 20px 0 20px 0;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.showmoreimg {
  margin-top: 30vh;
  z-index: 100;

}

@media only screen and (max-width: 1280px) {
  .m-container {
    width: 80%;
    margin-top: 30vh;
  }
  .image {
    height: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .m-container {
    width: 85%;
  }
}

/* 1368 */

/* MENU */
.navitem {
  color: black;
  font-weight: bolder;
  height: 20px;
  margin-right: 30px;
}



.trait {
  height: 1px;
  width: 100%;
  background-color: gray;
  margin: 3px auto 20px auto;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: clamp(0.5rem, 1rem + 0.5vw, 1.5rem);
}